<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bievenue !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/24a832471a.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
                <link rel="stylesheet" href="{{ asset('styles/global.css') }}">

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
     {% block header %}
        <header>
            <nav>
      <div class="logo">
        <img src="{{ asset('img/logo-icon.png') }}" alt="logo" />
      </div>
      <ul>
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>
        <a href="{{ path('app_board_index') }}">Mes boards</a>
    </li>
    <li>
        <a href="{{ path('contact') }}">Contact</a>
    </li>
    <li>
        {% if app.user %}
            <a href="{{ path('account') }}"><i class="fa fa-user"></i></a>
        {% else %}
            <a href="{{ path('login') }}"><i class="fa fa-user"></i></a>
        {% endif %}
    </li>
    <li>
        {% if app.user %}
    <a href="{{ path('logout') }}"><i class="fa fa-power-off"></i></a>
{% endif %}
    </li>
</ul>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar">
      <ul>
        <li>
          <a href="{{ path('home') }}">Accueil</a>
        </li>
        <li>
          <a href="#">Mes boards</a>
        </li>
        <li>
          <a href="{{ path('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
        </header>
        <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

    </div>
    {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
