{% extends 'base.html.twig' %}

{% block title %}Liste des tableaux{% endblock %}

{% block body %}

    <section class="bg-white">
<div class="container py-5">
        <h1 class="text-center mb-4">Liste des tableaux</h1>

    <div class="mt-4">

        {% if boards is not empty %}
            <div class="table-responsive" style="display:flex; flex-direction:justify-content-center;">
                
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" >Titre</th>
                            <th scope="col">Créé le</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for board in boards %}
                            <tr>
                                <td>{{ board.title }}</td>
                                <td>{{ board.createdAt ? board.createdAt|date('d/m à H:i') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_board_show', {'id': board.id}) }}" class="btn btn-sm btn-primary"> <i class="fa fa-eye"></i> Voir</a>
                                    <a href="{{ path('app_board_edit', {'id': board.id}) }}" class="btn btn-sm btn-secondary"> <i class="fa fa-pencil-square-o"></i> Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center">Aucun tableau n'a été trouvé.</p>
        {% endif %}

        <div class="text-center">
            <a href="{{ path('app_board_new') }}" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    </section>
{% endblock %}